<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <h2>Créer un compte</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">
      <div class="row">
        <div class="col-sm-6 form-group">
          <label for="email">Prénom</label>
          <input class="form-control"
                 formControlName="surname"
                 id="surname"
                 type="text"
                placeholder="John">
        </div>

        <div class="col-sm-6 form-group">
          <label for="email">Nom</label>
          <input class="form-control"
                 formControlName="name"
                 id="name"
                 type="text"
                 placeholder="DOE">
        </div>

        <div class="col-sm-12 form-group">
          <label for="email">Adresse mail</label>
          <input class="form-control"
                 formControlName="email"
                 id="email"
                 type="text"
                 placeholder="john.doe@example.fr">
        </div>

        <div class="col-sm-12 form-group">
          <label for="password">Mot de passe</label>
          <input class="form-control"
                 formControlName="password"
                 id="password"
                 type="password"
                 placeholder="Pa$$word123">
        </div>
      </div>
      <button [disabled]="signupForm.invalid"
              class="btn btn-primary"
              type="submit">Créer mon compte
      </button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>
